<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
	<title>iwanna Do</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="shortcut icon" href="/image/icon.ico" />
</head>
<body>
	<div class="container">
		<!-- [title] -->
		<div class="title">iwanna do.</div>
		
		<div class="content">
			<!-- [catalog] -->
			<div class="catalog left">
				<div class="list-title">Hello</div>
				<!-- <div class="list" data-id="1">123</div> -->

				<div class="operation">
					<div class="btn-op btn-green btn-add left" data-type="list">+</div>
					<div class="btn-op btn-pink btn-del left" data-type="list">-</div>
				</div>
			</div>

			<!-- [event] -->
			<div class="events left">
				<div class="event-title">World</div>
				<!--
				<div class="event" data-id="1">
					<div class="event-content left">

					</div>
					<div class="btn-op btn-green event-yes right">√</div>
				</div>
				-->

				<div class="operation">
					<div class="btn-op btn-green btn-add left" data-type="event">+</div>
					<div class="btn-op btn-pink btn-del left" data-type="event">-</div>
				</div>
			</div>
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/operation.js"></script>
</body>
</html>