<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
	<title>iwanna Do</title>
	<link rel="shortcut icon" href="/image/icon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/index.css">-->
	<link rel="stylesheet/less" type="text/css" href="/less/index.less">
	<script src="/js/less.min.js"></script>
</head>
<body>
	<div class="btn-green btn-op btn-parent">\/
		<div class="btn-pink btn-op btn-children">1</div>
		<div class="btn-children">2</div>
		<div class="btn-children">3</div>
		<div class="btn-children">4</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/operation.js"></script>
	<script src="/js/test.js"></script>
</body>
</html>